body {
  background-color: #f4ea0c;
  min-height: 100dvh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  overflow-x: hidden;
}

main {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem;
  box-sizing: border-box;
}

main p {
  margin: 0;
}

footer {
  font-family: sans-serif;
  margin-top: auto;
  padding: 1rem;
  font-size: 0.875rem;
}

footer a {
  color: black;
}

.line-1,
.line-2,
.line-3 {
  text-transform: uppercase;
}

.line-1,
.line-3 {
  font-family: "Anton", sans-serif;
}

@media (max-width: 720px) {
  .line-1,
  .line-3 {
    font-weight: 800;
  }
}

.line-1 {
  font-size: clamp(2rem, 10vw, 6rem);
}

.line-2 {
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-size: clamp(1rem, 7vw, 4rem);
  white-space: nowrap;
  overflow: visible;
}

.line-3 {
  margin-top: 2rem;
  font-size: clamp(1rem, 4vw, 2.5rem);
}

.line-4-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 700px;
}

.line-4-wrapper svg {
  display: block;
  width: 100%;
}

.line-4 {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anton", sans-serif;
  font-weight: 800;
  font-size: clamp(1.5rem, 6vw, 5rem);
  color: #f4ea0c;
}

.line-4 a {
  color: #f4ea0c;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.line-4 span {
  display: inline-block;
}

.fediverse-letter-1 {
  transform: rotate(-5deg);
  font-family: "Anton", sans-serif;
  font-weight: 800;
  margin-top: 10px;
}

.fediverse-letter-2 {
  transform: rotate(3deg);
  font-size: clamp(1.2rem, 4.5vw, 3.5rem);
  font-family: system-ui, sans-serif;
}

.fediverse-letter-3 {
  transform: rotate(-2deg);
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

.fediverse-letter-4 {
  transform: rotate(8deg);
  font-family:
    Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
}

.fediverse-letter-5 {
  transform: rotate(-8deg) skewX(-15deg);
  font-size: clamp(2rem, 9vw, 6.5rem);
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

.fediverse-letter-6 {
  transform: rotate(4deg);
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
}

.fediverse-letter-7 {
  transform: rotate(-5deg) skewX(12deg);
  font-family: "Nimbus Mono PS", "Courier New", monospace;
}

.fediverse-letter-8 {
  transform: rotate(6deg);
  font-size: clamp(1.8rem, 7vw, 4.5rem);
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

.fediverse-letter-9 {
  transform: rotate(-3deg);
  font-family:
    ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari,
    "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro,
    sans-serif;
}
